<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar-container">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/logo/Frame 723.jpg" alt="NewBrand">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="talentmanagement.html">Talent Management</a></li>

                <!-- Product Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown">
                        Product
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li><a class="dropdown-item" href="salenutpam.html">Salenutpam</a></li>
                        <li><a class="dropdown-item" href="/pillamar.html">Pillamar</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="Industries.html">Industries</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">About</a></li>

                <!-- Careers Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="careersDropdown" role="button" data-bs-toggle="dropdown">
                        Careers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="careersDropdown">
                        <li><a class="dropdown-item" href="Careers.html">Careers</a></li>
                        <li><a class="dropdown-item" href="../Internship.html">Internship</a></li>
                        <li><a class="dropdown-item" href="referalprogram.html">Referral Program</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link blinking-text" href="Hrify_Academy.html">Academy</a>
                </li>

                <!-- Solutions Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button" data-bs-toggle="dropdown">
                        Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="solutionsDropdown">
                        <li><a class="dropdown-item" href="Careers.html">Sonachala</a></li>
                    </ul>
                </li>

                <!-- Mobile buttons -->
                <li class="nav-item d-lg-none">
                    <a class="btn btn-primary rounded-pill px-3 d-block text-center mb-2" href="Contactus.html">Contact Us</a>
                    <a class="btn btn-primary rounded-pill px-3 d-block text-center" href="#">Login</a>
                </li>
            </ul>
        </div>

        <!-- Desktop buttons -->
        <div class="d-none d-lg-flex gap-2">
            <a class="btn btn-primary rounded-pill px-3" href="Contactus.html">Contact Us</a>
            <a class="btn btn-primary rounded-pill px-3" href="https://hrify-7b064.web.app/">Login</a>
        </div>
    </div>
</nav>
